<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/auth.css">
    <script type="text/javascript" src="/static/js/login.bundle.js"></script>
</head>
<body>
<header>
    <nav>
        <a href="/" title="Home"><img src="/static/img/wonderwall-small.png"/></a>
    </nav>
</header>
<main>
    <login-form></login-form>
    <p>Forgot your password? Reset it <a href="/forgot-password">here</a>.</p>
</main>
</body>
</html>
