<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
<div class="top menu">
    <a class="logo" href="/">&nbsp;</a>
</div>
<main>
    <form method="post">
        <h1>Reset your Password</h1>
        <label for="password">Password:</label><input id="password" name="password" type="password">
        <button>Submit</button>
    </form>
</main>
</body>
</html>
