<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/frontpage.css">
</head>
<body>
<header>
    <nav>
        <a href="/"><img src="/static/img/wonderwall-small.png"/></a>
        <div>
            <div><a href="/pricing">Features</a></div>
            <div><a href="/pricing">Pricing</a></div>
            <div><a href="/login">Login</a></div>
            <div><a href="/join" class="join">Join for FREE</a></div>
        </div>
    </nav>
</header>
<main>
    <h1>Walls</h1>
    <ul>
        <li>Wall 1</li>
    </ul>
</main>
</body>
</html>
